<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>米豆薯实体店管理系统1</title>
<link href="__PUBLIC__/static/css/page.css" rel="stylesheet" type="text/css">

    <link type="text/css" href="__PUBLIC__/storemobile/css/vendor-morris.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/storemobile/css/vendor-bootstrap-datepicker.css" rel="stylesheet">

    <meta name="robots" content="noindex">

    <link type="text/css" href="__PUBLIC__/storemobile/css/app.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/storemobile/css/app.rtl.css" rel="stylesheet">

    <link type="text/css" href="__PUBLIC__/storemobile/css/simplebar.css" rel="stylesheet">

    <link type="text/css" href="__PUBLIC__/storemobile/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="__PUBLIC__/storemobile/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="__PUBLIC__/storemobile/js/popper.js"></script>
    <script src="__PUBLIC__/storemobile/js/bootstrap.min.js"></script>

    <!-- Simplebar -->
    <!-- Used for adding a custom scrollbar to the drawer -->
    <script src="__PUBLIC__/storemobile/js/simplebar.js"></script>


    <!-- Vendor -->
    <script src="__PUBLIC__/storemobile/js/chart.min.js"></script>
    <script src="__PUBLIC__/storemobile/js/moment.min.js"></script>

    <!-- APP -->
    <script src="__PUBLIC__/storemobile/js/color_variables.js"></script>
    <script src="__PUBLIC__/storemobile/js/app.js"></script>


    <script src="__PUBLIC__/storemobile/js/dom-factory.js"></script>
    <!-- DOM Factory -->
    <script src="__PUBLIC__/storemobile/js/material-design-kit.js"></script>
    <!-- MDK -->

    
</head>

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px" data-has-scrolling-region>

        <div class="mdk-drawer-layout__content">
            <!-- header-layout -->
            <div class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
                
                   
        

                
        