<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <title>{$web_title|default='网站登录'}</title>
	<link rel="stylesheet" href="__PUBLIC__/staff/css/Employee.css">
	<script src="__PUBLIC__/staff/js/mobile-util.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/jquery.js"></script>
	<script type="text/javascript" src="/template/mobile/new2/static/js/layer.js"></script>
    <script>
		/**
	 * 提示弹窗
	 * */
	function showErrorMsg(msg){
		layer.open({content:msg,time:2});
	}
	</script>
</head>