<include file="public/layout" />
<style>
    .err{color:#F00; display:none;}
</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<!--以下是在线编辑器 代码 -->
<load href="__ROOT__/public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.all.min.js"/>
<script type="text/javascript" charset="utf-8" src="__ROOT__/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>供货申请</h3>
                <h5></h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post">
        <input type="hidden" id="goods_id" name="goods_id" value="{$info.goods_id}">
        <input type="hidden" name="id" value="{$info.id}">
        <input type="hidden" name="item_id" value="{$info.item_id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">

                </dt>
                <dd class="opt">
                    <img src="{$company.litpic}" style="width: 70px; height: 70px; float: left;"/>
                    <div style="float:left; margin-left: 10px;">
                        <div>名称：{$company.cname}</div>
                        <div>联系人：{$company.contact} &nbsp;&nbsp; 手机号：{$company.mobile}</div>
                        <div>店铺地址：{$company.address}</div>
                    </div>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>内容</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" id="goods_content" name="goods_content" title="">{$company.strore_supply_content}</textarea>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择抢购商品</label>
                </dt>
                <dd class="opt">
                    <div style="overflow: hidden" id="selected_group_goods">

                    </div>
                    <span class="err" id="err_goods_name"></span>
                    <p class="notic">
                        <a onclick="selectGoods()" class="ncap-btn" id="select_goods_button"><i class="fa fa-search"></i>选择商品</a>
                    </p>
                </dd>
            </dl>



            <div class="bot"><a onclick="verifyForm()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">


    function selectGoods(){
        var url = "{:U('Member/search_goods',array('tpl'=>'select_goods','prom_type'=>1,'prom_id'=>$info[id]))}";
        layer.open({
            type: 2,
            title: '选择商品',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
    }
    function call_back(goodsItems){
        console.log(goodsItems);
        //$('#goods_id').val(goodsItem.goods_id);
        var html = '';

        for(var i in goodsItems){
            goodsItem = goodsItems[i];
            console.log(goodsItem);
            if(goodsItem.spec != null){
                //有规格
                html += '<div style="float: left;margin: 10px auto; margin-left: 5px; width: 162px;" class="selected-group-goods"><div class="goods-thumb">' +
                    '<img style="width: 162px;height: 162px" src="'+goodsItem.goods_image+'"/></div> <div class="goods-name"> ' +
                    '<a target="_blank" href="/index.php?m=Homered&c=Goods&a=goodsInfo&id='+goodsItem.goods_id+'">'+goodsItem.goods_name+goodsItem.spec.key_name+'</a> </div>' +
                    ' <div class="goods-price">库存:'+goodsItem.spec.store_count+' </div> <input type="hidden" name="goodid" value="'+goodsItem.goods_id+'">' +
                    '<input type="hidden" name="itemid" value="'+goodsItem.spec.item_id+'"> <input type="hidden" name="stock" value="'+goodsItem.spec.store_count+'"></div>';
                //$('input[name=item_id]').val(goodsItem.spec.item_id)
                //$('input[name=goods_name]').val(goodsItem.goods_name + goodsItem.spec.key_name);
            }else{
                html += '<div style="float: left;margin: 10px auto;margin-left: 5px; width: 162px;" class="selected-group-goods"><div class="goods-thumb">' +
                    '<img style="width: 162px;height: 162px" src="'+goodsItem.goods_image+'"/></div> <div class="goods-name"> ' +
                    '<a target="_blank" href="/index.php?m=Homered&c=Goods&a=goodsInfo&id='+goodsItem.goods_id+'">'+goodsItem.goods_name+'</a> </div>' +
                    ' <div class="goods-price">库存:'+goodsItem.store_count+' </div> <input type="hidden" name="goodid" value="'+goodsItem.goods_id+'">' +
                    '<input type="hidden" name="itemid" value="0"> <input type="hidden" name="stock" value="'+goodsItem.store_count+'"></div>';
                $('input[name=goods_name]').val(goodsItem.goods_name);
            }
            //$('#select_goods_button').attr('data-goods-id',goodsItem.goods_id);

        }
        $('#selected_group_goods').empty().html(html);
        $('.selected-group-goods').show();
        layer.closeAll('iframe');
    }

    var ue = UE.getEditor('goods_content',{
        zIndex: 999,
        initialFrameWidth: "100%", //初化宽度
        initialFrameHeight: 300, //初化高度
        focus: false, //初始化时，是否让编辑器获得焦点true或false
        maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
        pasteplain:false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
        autoHeightEnabled: true
    });

    function removeGoods(element){
        $(element).parents('.selected-group-goods').remove();
    }




    function verifyForm(){
        var arr = new Array();
        $(".selected-group-goods").each(function(v,o){
            var obj={"goodid":$(o).find('input[name=goodid]').val(),"itemid":$(o).find('input[name=itemid]').val(),"stock":$(o).find('input[name=stock]').val()};
            arr.push(obj);
        });
        var content =  ue.getContent();

        var param = new Object();
        param['goods'] = arr;
        param['content'] = content;
        param['store_id'] = "{$Think.get.store_id}";

        $.ajax({
            url:"__URL__/doapply",
            data:param,
            dataType:"json",
            type:"POST",
            success:function(data){
                if(data.error==0){
                    layer.alert('申请成功', {icon: 1});
                    setTimeout(function(){
                        // window.history.go(-1);
                        window.location.href="{:U('Index/welCome')}";
                    },1000);

                }else{
                    layer.alert(data.msg, {icon: 2});
                }
            },error:function(data){
                console.log(data);
            }
        });

    }
</script>
</body>
</html>