<!DOCTYPE html>
<html>
<head>
<title>找回密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$tpshop_config['shop_info_store_keyword']}"/>
<meta name="description" content="{$tpshop_config['shop_info_store_desc']}"/>
<link rel="shortcut  icon" type="image/x-icon" href="{$tpshop_config['shop_info_store_ico']}" media="screen"  />
<link href="__STATIC__/css/ghs-style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/static/js/jquery.js"></script>
<script src="__PUBLIC__/js/global.js" type="text/javascript"></script>
<script src="__PUBLIC__/static/js/layer/layer.js" type="text/javascript"></script>
</head>

<body style="background: #f2f5f8;">
	<div class="ghs-zhmm">
		<div class="zh">
			<div class="main">
				<div class="zh-logo"><img src="__STATIC__/images/zh-logo.png"></div>
				<div class="add">
					<span><img src="__STATIC__/images/home.png"></span>
					<a href="{:U('Home/index/index')}" class="cur">成欣网>></a>
					<a href="{:U('Supplier/login')}" class="cur">商户登录>></a>
					<a href="" class="cur ys">找回密码</a>
				</div>
				<div class="bz">
					<div class="bz-01 ys">身份验证</div>
					<div class="bz-02">充值密码</div>
					<div class="bz-03 ys">完成设置</div>
				</div>
				<div class="yz">
					<div class="xx">
						<span class="ys">恭喜您，已成功重置密码！</span>
					</div>
					<div class="yes"><img src="__STATIC__/images/yes.png"></div>
					<div class="line-1">
						<a href=":U('Supplier/login')}" class="inp-2">重新登录</a>
					</div>
				</div>
			</div>
			<div class="bq">© 2005-2018 米豆薯 版权所有，并保留所有权利</div>
		</div>
	</div>
</body>
</html>