<include file="public/layout" />
<script type="text/javascript" src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<link href="__STATIC__/css/ghs-style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="ghs-xgmm">
		<div class="top">
			<div class="bt">修改密码<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></div>
		</div>
		<div class="bd">
			<form action="" method="post" id="pwdform">
				<ul>
					<li>
						<div class="l">原始密码：</div>
						<input type="password" name="old_password" id="old_password" class="inp">
					</li>
					<li>
						<div class="l">新的密码：</div>
						<input type="password" name="new_password" id="new_password" class="inp">
					</li>
					<li>
						<div class="l">确认密码：</div>
						<input type="password" name="confirm_password" id="confirm_password" class="inp">
					</li>
					<li>
						<input type="button" onclick="checkSubmit()" class="inp-2" value="确认修改">
					</li>
				</ul>
			</form>
		</div>
		</div>
	<script type="text/javascript">
		function checkSubmit(){
			var new_password = $('#new_password').val();
			var confirm_password = $('#confirm_password').val();
			if(new_password == ''){
				layer.alert('新登录密码不能为空', {icon: 2});
				return false;
			}
			if(new_password.length<6 || new_password.length>18){
				layer.alert('密码长度不符合规范', {icon: 2});
				return false;
			}
			if(new_password != confirm_password){
				layer.alert('两次密码不一致', {icon: 2});
				return false;
			}
			$('#pwdform').submit();
		}
	</script>
</body>
</html>