<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>米豆薯实体店管理系统1</title>


    <link type="text/css" href="__PUBLIC__/storemobile/css/vendor-morris.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/storemobile/css/vendor-bootstrap-datepicker.css" rel="stylesheet">

    <meta name="robots" content="noindex">

    <link type="text/css" href="__PUBLIC__/storemobile/css/app.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/storemobile/css/app.rtl.css" rel="stylesheet">

    <link type="text/css" href="__PUBLIC__/storemobile/css/simplebar.css" rel="stylesheet">

    <link type="text/css" href="__PUBLIC__/storemobile/css/style.css" rel="stylesheet">

</head>
 <iframe src="{:U('/Storemobile/System/statistics')}" id="workspace" name="workspace" style="overflow: visible;" frameborder="0" width="100%" height="100%" scrolling="yes"></iframe>
    <!-- // END drawer-layout -->
