<include file="public/layout" />
                <!-- header -->
                <div class="mdk-header js-mdk-header bg-primary" data-fixed>
                    <div class="mdk-header__content">

                        <nav class="navbar navbar-expand-md bg-primary navbar-dark d-flex-none">
                            <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
                                <i class="material-icons align-middle md-36">short_text</i>
                            </button>
                            <div class="page-title m-0">消息管理</div>

                            <div class="collapse navbar-collapse" id="mainNavbar" style="width:50px">
                                <ul class="navbar-nav ml-auto align-items-center">

                                        <li class="nav-item" style="float:right !important">
                                            <a href="#" class="nav-link dropdown-toggle dropdown-clear-caret" data-toggle="sidebar" data-target="#user-drawer">
                                              系统操作
                                              <img src="{$store_info.litpic|default='__PUBLIC__/storemobile/img/errors.jpg'}" class="img-fluid rounded-circle ml-1" width="35"
                                                alt="">
                                            </a>
                                        </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <!-- content -->
                
                <div class="mdk-header-layout__content ls-top-navbar mdk-header-layout__content--scrollable h-100">
                    <!-- main content -->

                    <div class="container-fluid">                      
                        <div class="card">
                            
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="card-title">详细内容</div>
                                    </div>
                                  
                                </div>
                                
                            </div>
                            
                            <div class="liebiao">
                                <ul>
                                    <li style="background:#fff;">
                                        <div class="hang">
                                            <div class="l">消息类型</div>
                                            <div class="r1">{$item.info}</div>
                                        </div>
                                       
                                        <div class="hang">
                                            <div class="l">发起时间</div>
                                            <div class="r1">{$item.create_time|date="Y-m-d H:i:s",###}</div>
                                        </div>
                                        
                                        <div class="hang ys">
                                            <div class="l">消息内容</div>
                                            <div class="r1">{$item.message|nl2br}</div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
<include file="public/foot" />