<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绑定引导页</title>
        <script src="__PUBLIC__/js/global.js"></script>
        <script src="__STATIC__/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="/template/mobile/new2/static/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="relation-user-wrap">
        <div class="user-photo1-h"><img src="{$head_pic}" alt="" /></div>
        <p class="relation-des ueser-name1-h">亲爱的用户:<span>{$nickname}</span></p>
        <p class="relation-des co-black">为了给您更好的服务，请关联一个 员工 账号</p>
       
        <a class="relation-btns register-btns" href="{:U('/Staff/System/do_bind_staff')}">立即关联</a>
    </div>
</body>
</html>