<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>成员管理</h3>
        <h5>成员列表</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->

  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>模型列表</h3>
        <h5>(共{$pager->totalRows}条记录)</h5>
      </div>
      <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>	  
	  
	  <!--搜索开始-->
	    <form action="__URL__" id="search-form2" class="navbar-form form-inline" method="get" >
        <div class="sDiv">
          <div class="sDiv2">           
            
            <select name="store_id" id="store_id" class="select">
              <option value="">查看所有</option>
			  <volist name='store_list' id='sList'>
			  <option value="{$sList.cid}" <if condition="$sList['cid'] eq $_GET['store_id']"> selected </if>>{$sList.cname}</option>
			  </volist>
            </select>
			
			
            <input type="text" size="30" name="key_word" class="qsbox" style="width:200px;" placeholder="请输入手机号码或真实姓名..." value="{$Think.get.key_word|default=''}">
            <input type="submit" class="btn" value="搜索">
          </div>
        </div>
      </form>
		
    <!--搜索结束-->
    </div>
    <div class="hDiv">
      <div class="hDivBox">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="sign" axis="col0">
                <div style="width: 24px;"><i class="ico-check"></i></div>
              </th>
			        <th align="left" abbr="ac_id" axis="col4" class="">
                <div style="text-align: left; width: 100px;" class="">手机号</div>
              </th>
			        <th align="left" abbr="ac_id" axis="col4" class="">
                <div style="text-align: left; width: 100px;" class="">真实姓名</div>
              </th>
			        <th align="left" abbr="ac_id" axis="col4" class="">
                <div style="text-align: left; width: 200px;" class="">所属层级</div>
              </th>
			        <th align="left" abbr="ac_id" axis="col4" class="">
                <div style="text-align: left; width: 120px;" class="">创建时间</div>
              </th>
			        <th align="left" abbr="ac_id" axis="col4" class="">
                <div style="text-align: left; width: 100px;" class="">余额</div>
              </th>
			        <th align="left" abbr="ac_id" axis="col4" class="">
                <div style="text-align: left; width: 100px;" class="">是否冻结</div>
              </th>             
              <th align="center" axis="col1" class="handle">
                <div style="text-align: center; width: 350px;">操作</div>
              </th>
              <th style="width:100%" axis="col7">
                <div></div>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    
    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
        <table>
          <tbody>
            <volist name="list" id="vo">
              <tr>
                <td class="sign">
                  <div style="width: 24px;"><i class="ico-check"></i></div>
                </td>
				        <td align="left" class="">
                  <div style="text-align: left; width: 100px;">{$vo.phone}</div>
                </td> 
				        <td align="left" class="">
                  <div style="text-align: left; width:100px;">{$vo.real_name}</div>
                </td> 
				
				
				        <td align="left" class="">
                  <div style="text-align: left; width: 200px;">{$vo.lv_name}</div>
                </td> 
				        <td align="left" class="">
                  <div style="text-align: left; width: 120px;">{$vo.create_time|date='Y-m-d H:i:s',###}</div>
                </td> 
				        <td align="left" class="">
                  <div style="text-align: left; width: 100px;">{$vo.money|tk_money_format}</div>
                </td> 
				
				        <td align="left" class="">
                  <div style="text-align: left; width: 100px;">
				          <if condition='$vo[is_lock] eq 1'>是<else/>否</if>
				  	      <!--<if condition='$vo[is_lock] eq 1'>
                    <span class="yes" onClick="changeTableVal('CompanyMember','id','{$vo.id}','is_lock',this)" ><i class="fa fa-check-circle"></i>否</span>
                  <else />
                    <span class="no" onClick="changeTableVal('CompanyMember','id','{$vo.id}','is_lock',this)" ><i class="fa fa-ban"></i>是</span>
                  </if>-->
				          </div>
                </td>                
                <td align="center" class="handle">
                  <div style="text-align: center; width: 270px; max-width:350px;"> 
				  	          <a class="btn blue"  href="{:U('/Company/Member/view',array('id'=>$vo['id']))}" ><i class="fa fa-trash-o"></i>查看详细</a>                
                  </div>
                </td>
                <td align="" class="" style="width: 100%;">
                  <div>&nbsp;</div>
                </td>
              </tr>
            </volist>
          </tbody>
        </table>
      </div>
      <div class="iDiv" style="display: none;"></div>
    </div>
    <!--分页位置--> 
    {$pager->show()} </div>
</div>
<script>
$(document).ready(function(){	
	  // 表格行点击选中切换
	  $('.pReload').click(function (){
			window.location.reload();	
		});
});
</script>
</body>
</html>