<script type="text/javascript" src="__PUBLIC__/static/js/jquery.SuperSlide.2.1.2.js"></script>
<div class="TK_left">
	<div class="left_top">
		<div class="logo"></div>
		<h1 style="overflow:hidden;text-overflow:ellipsis;white-space: nowrap;">{$company_info.cname}</h1>
		<!--<h2>{$company_info.cname}</h2>-->
	</div>
	<div class="left_middle">
		<ul>
			<li><a href="{:U('/Company/Index/Index')}" target="workspace">后台首页</a></li>
			<li><a href="{:U('/Company/Level/')}" target="workspace">实体店管理</a></li>
			<li><a href="{:U('/Company/Level/Tree')}" target="workspace">树状图查看</a></li>
		<!--<li><a href="{:U('/Company/Withdrawal/Index')}" target="workspace">提现管理</a></li>-->
		</ul>

	</div>
	<div class="left_footer">
	
	</div>
</div>