<include file="public/TK_top" />
<style>
.close {
    margin: .42667rem .64rem
}
.close a {
    display: block;
    background: #ff4401;
    text-align: center;
    width: 100%;
    height: 1.87733rem;
    color: #fff;
    line-height: 1.87733rem;
    font-size: .64rem;
    -moz-border-radius: .42667rem;
    -webkit-border-radius: .42667rem;
    border-radius: .42667rem
}
</style>
<div class="e-zil">
	<ul>
		
		
		<li>
			<div class="bt fl">更换头像</div>
			<div class="nei fl around">
			
			
			<form id="head_pic" method="post" class="nei fl" action="{:U('/Member/Profile/set_pic')}" enctype="multipart/form-data">
				 <div class="line">
			    	<span class="span">
			        	<input name="" type="text" id="viewfile" onmouseout="document.getElementById('upload').style.display='none';" class="inputstyle" />
			        </span>
			        <label for="unload" onmouseover="document.getElementById('upload').style.display='block';"   class="file1"><span>上传图片</span></label>
			        <input type="file" onchange="document.getElementById('viewfile').value=this.value;this.style.display='none';handleFiles(this)"  accept="image/*" name="head_pic" class="file" id="upload" />
			    </div>
			</form>
			
			</div>
		</li>
		
		<script>
function handleFiles(obj) {
    $('#head_pic').submit();
}
		</script>
		
		<li>
			<div class="bt fl">
				真实姓名
		    </div>
			<div class="nei fl">
				{$member_info.real_name}
			</div>
		</li>
		<li>
			<div class="bt fl">
				手机号码
		    </div>
			<div class="nei fl">
				{$member_info.phone}<a href="{:U('/Member/Profile/unset_phone')}" class="an">换绑手机</a> 
			</div>
		</li>
		<li>
			<div class="bt fl">
				身份证号
		    </div>
			<div class="nei fl">
				<if condition="$member_info.id_code">{$member_info.id_code|substr=0,14}****</if>&nbsp;
			</div>
		</li>
		<!--<li>
			<div class="bt fl">
				详细地址
		    </div>
			<div class="nei fl">
				{$member_info.address}&nbsp;
			</div>
		</li>-->
		
		<li class="close">
			<a href="{:U('/Member/System/logout')}" id="logout">安全退出</a>
			<a id="asubmit" style="display:none;" href="javascript:;" onclick="javascript:$('#head_pic').submit();">保存头像</a>
		</li >
	</ul>
</div>                        
</body>
</html>