<include file="public/layout" />
<script src="__PUBLIC__/static/js/layer/laydate/laydate.js"></script>
<link rel="stylesheet" href="__ROOT__/public/progressbar/styles/progressbar.css">
<div class="jindutiao">
  <section class="container">
      <div class="progress"> <span class="blue" style="width:0%;"><span>0%</span></span> </div>
  </section>
</div>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title" style="margin-top:10px;">
      <div class="subject">
        <h3>线下流水管理</h3>
      </div>
	  <ul class="tab-base nc-row">
        <li><a href="{:U('/Company/Rebate/Sweep')}" <if condition="!$Request.param.t"> class="current" </if>><span>代付订单流水</span></a></li>
        <li><a href="{:U('/Company/Rebate/Sweep',['t'=>2])}"   <if condition="$Request.param.t eq 2"> class="current" </if>><span>扫码订单流水</span></a></li>
		<!--<li><a href="{:U('/Company/Rebate/Index',['t'=>2])}"   <if condition="$Request.param.t eq 2"> class="current" </if>><span>扫码订单流水</span></a></li>-->
      </ul>

    </div>
  </div>
  <!-- 操作说明 -->

  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>等级列表</h3>
        <h5>(共{$pager->totalRows}条记录)</h5>
      </div>
      <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
      <form action="__URL__/Sweep" id="search-form2" class="navbar-form form-inline" method="get" >
        <div class="sDiv">
			<!-- <div class="sDiv2">   
				<select name="store_id" class="select"> 
					<option value="">请选择</option>
					<volist name="store_list" id='vo'>
						<option value="{$vo.cid}" <if condition="$vo.cid eq $Request.param.store_id"> selected </if>>{$vo.cname}</option>
					</volist>
				</select>
			</div> -->

        <div class="sDiv2">
        	<input type="text" size="30" id="add_time_begin" name="add_time_begin" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" value="{$add_time_begin}" class="qsbox" autocomplete="off" placeholder="下单开始时间"  />
        </div>
        <div class="sDiv2">
        	<input type="text" size="30" id="add_time_end" name="add_time_end" value="{$add_time_end}" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"  class="qsbox" autocomplete="off" placeholder="下单结束时间">
        </div>
     
         <div class="sDiv2">	 
             <select name="pay_status" class="select sDiv3" >
                <option value="">支付状态</option>
                <option value="2" <if condition="$Request.param.pay_status eq 2"> selected </if> >未支付</option>
                <option value="1" <if condition="$Request.param.pay_status eq 1"> selected </if> >已支付</option>
             </select>
          </div>
         <input type="hidden" name="t" id="t" value="{$Request.param.t}">
        
         <div class="sDiv2">	 
          <input type="text" size="30" name="keywords" class="qsbox" placeholder="请输入员工姓名..."  value="{$Request.param.keywords}">
        </div>
			
			
			
          <div class="sDiv2">           
		  
            <input type="submit" class="btn" value="搜索">
          </div>
        </div>
      </form>
    </div>
	<!--<div class="tDiv">
		<div class="tDiv2">
			<div class="fbutton">
				<div class="add" title="新增数据">
					<span onClick="AddData();"><i class="fa fa-plus"></i>新增数据</span>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>-->
	
    <div class="hDiv">
      <div class="hDivBox">
       <table cellspacing="0" cellpadding="0">
          <thead>
	        	<tr>
	              <th axis="col0">
	                <div style="width: 24px;"><i class="ico-check"></i></div>
	              </th>
				  
	              <th align="left" abbr="order_sn" axis="col3" class="">
	                <div style="text-align: left; width: 140px;" class="">订单编号</div>
	              </th>
				  <th align="left" abbr="order_sn" axis="col3" class="">
	                <div style="text-align: left; width: 200px;" class="">顾客信息</div>
	              </th>
	              <th align="left" abbr="consignee" axis="col4" class="">
	                <div style="text-align: left; width: 60px;" class="">服务员工</div>
	              </th>
                <th align="left" abbr="consignee" axis="col4" class="">
                  <div style="text-align: center; width: 200px;" class="">实体店</div>
                </th>
	              <th align="center" abbr="article_show" axis="col5" class="">
	                <div style="text-align: center; width: 60px;" class="">付款金额</div>
	              </th>
	              <th align="center" abbr="article_time" axis="col6" class="">
	                <div style="text-align: center; width: 60px;" class="">支付状态</div>
	              </th>
               
                <th align="center" abbr="article_time" axis="col6" class="">
                  <div style="text-align: center; width:120px;" class="">支付时间</div>
                </th>
                <th align="center" abbr="article_time" axis="col6" class="">
                  <div style="text-align: center; width: 100px;" class="">支付方式</div>
                </th>
               
	            
	              <th align="center" abbr="article_time" axis="col6" class="">
	                <div style="text-align: center; width: 120px;" class="">下单时间</div>
	              </th>
	             
	            </tr>
	          </thead>
        </table>

      </div>
    </div>
    <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton"> 
          <a href="javascript:form_submit(1)">
              <div class="add" title="">
                <span><i class="fa fa-plus"></i>导出数据</span>
              </div>
            </a> 
          </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
	  	       <table>
 	<tbody>
 	<!-- <if condition="empty($list) eq true">
 		<tr data-id="0">
	        <td class="no-data" align="center" axis="col0" colspan="50">
	        	<i class="fa fa-exclamation-circle"></i>没有符合条件的记录
	        </td>
	     </tr>
	<else/> -->
 	<volist name="list" id="vo">
  	<tr data-order-id="{$list.order_id}" id="{$list.order_id}">
        <td class="sign" axis="col0">
          <div style="width: 24px;"><i class="ico-check"></i></div>
        </td>
        <td align="left" abbr="order_sn" axis="col3" class="">
          <div style="text-align: left; width: 140px;" class="">{$vo.paid_sn}</div>
        </td>
        <td align="left" abbr="consignee" axis="col4" class="">
          <div style="text-align: left; width: 200px;" class="">{$vo.user_id} : <if condition="$vo.mobile">{$vo.mobile|mb_substr=0,3,'utf-8'}****{$vo.mobile|mb_substr=7,4,'utf-8'}</if></div>
        </td>
        <td align="center" abbr="article_show" axis="col5" class="">
          <div style="text-align: center; width: 60px;" class="">{$vo.staff_name}</div>
        </td>
        <td align="center" abbr="article_show" axis="col5" class="">
          <div style="text-align: center; width: 200px;" class="">{$vo.store_id|shitis}</div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 60px;" class="">{$vo.money}</div>
        </td>
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 60px;" class="">{$vo.pay_status|pay_status}</div>
        </td>
     
      
        <td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 120px;" class=""><if condition="$vo.pay_time">{$vo.pay_time|date='Y-m-d H:i',###}</if></div>
        </td>
		<td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 100px;" class="">{$vo.pay_name}</div>
        </td>
		<td align="center" abbr="article_time" axis="col6" class="">
          <div style="text-align: center; width: 120px;" class="">{$vo.create_time|date='Y-m-d H:i',###}</div>
        </td>
        
		<td style="width: 100%;">
          <div></div>
        </td>
      </tr>
      </volist>
      <!-- </if> -->
    </tbody>
</table>
		<if condition="$list">	   
        <!--分页位置--> 
        {$pager->show()}
	  </if>
	  </div>
      <div class="iDiv" style="display: none;"></div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){	
		  //$('#add_time_begin').layDate({istime: true, format: 'YYYY-MM-DD'}); 
     	//$('#add_time_end').layDate();
     	  
        // laydate.render({ 
        //   elem: '#add_time_begin'
        //   ,type: 'date' //默认，可不填
        // });
	
  	    // 表格行点击选中切换
  	    $('#flexigrid > table>tbody >tr').click(function(){
  		    $(this).toggleClass('trSelected');
  		  });
  		
    		// 点击刷新数据
    		$('.fa-refresh').click(function(){
    			location.href = location.href;
    		});
  		
  	});
     function form_submit(){
  
    $(".jindutiao").show();
    progressbarText(1);
  }

  function progressbarText(p){
    urlpage = "/p/"+p;
    $.ajax({
        type : "post",
        url:"__URL__/return_sweep_fileput"+urlpage,
        data : $('#search-form2').serialize(),// 你的formid
        dataType:"json",
        success:function(data){
            loading(data+"%");
            if(data != 100){
                progressbarText((p+1));
            }
        }
    });
  }
  function loading(percent){
      $('.progress > span').animate({"width":percent,"overflow":"inherit"},1000,function(){
          $(this).children().html(percent);
          if(percent=='100%'){
              setTimeout(function(){
                  $(".jindutiao").hide();
                  $('.progress > span > span').html("0%");
                  $('.progress > span').css("width","0%");
                  location.href="{:url('/Company/Rebate/export_sweep')}";
              },1000);
          }
      })
  }
</script>
</body>
</html>