@charset "utf-8";
/* CSS Document */

/*初始化元素*/
html,body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,td,th{margin:0;padding:0; font-family:'宋体';  font-size:12px}
ul,ol{list-style:none;}
em,i{font-style:normal;}
a{text-decoration:none;color:inherit;}
a:active,a:hover {outline:none;}
input,button,textarea{outline:none;border:none;}
textarea{resize:none;}
img{vertical-align:top;}
label { /*文字不能选中*/
-moz-user-select:none;/*火狐*/
-webkit-user-select:none;/*webkit浏览器*/
-ms-user-select:none;/*IE10*/
-khtml-user-select:none;/*早期浏览器*/
user-select:none;
}


.clear{height:0px; line-height:0px; font-size:0px; clear:both; list-style:none}

.mt10{margin-top:10px;}
.ml40{margin-left:40px;}
.pl35{ padding-left:35px;}