<include file="public/layout" />

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px" data-has-scrolling-region>

        <div class="mdk-drawer-layout__content">
            <!-- header-layout -->
            <div class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
              

                <!-- content -->
                <div class="mdk-header-layout__content ls-top-navbar mdk-header-layout__content--scrollable h-100">
                    <!-- main content -->

                    <div class="container-fluid">                      
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="card-title">线下订单列表 <span>等级列表/{$pager->totalRows}条记录</span></div>
                                    </div>
                                    <div class="col-md-8 d-flex justify-content-md-end">
                                        <!--<div class="dropdown mr-2">-->
                                            <!--<button class="btn btn-white dropdown-toggle" type="button" id="sortOrdersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择</button>-->
                                            <!--<div class="dropdown-menu">-->
                                                <!--<a class="dropdown-item" href="{:U('/Companymobile/Rebate/Sweep')}">代付订单流水</a>-->
                                                <!--<a class="dropdown-item" href="{:U('/Companymobile/Rebate/Sweep',['t'=>2])}">扫码订单流水</a>-->
                                                <!---->
                                            <!--</div>-->
                                        <!--</div>-->
                                        
                                    </div>
                                    <form class="form-inline" style="margin-top:1rem;width:100%" action="__URL__/repurchase" method="get">
                                        <div class="col-md-8 d-flex justify-content-md-end" style="margin-bottom:.5rem;">
                                            <div class="input-group input-daterange">
                                                <input type="text" class="form-control" name="add_time_begin" value="{$add_time_begin}">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">to</div>
                                                </div>
                                                <input type="text" class="form-control" name="add_time_end" value="{$add_time_end}">
                                            </div>
                                        </div>
                                        <div class="col-md-8 d-flex justify-content-md-end">
                                            <!--<select class="form-control ys" id="exampleFormControlSelect1">-->
                                                <!--<option value="">支付状态</option>-->
                                                 <!--<option value="2" <if condition="$Request.param.pay_status eq 2"> selected </if> >未支付</option>-->
                                                <!--<option value="1" <if condition="$Request.param.pay_status eq 1"> selected </if> >已支付</option>-->
                                            <!--</select>-->
                                            <div class="form-group mx-sm-3" style="margin-bottom:0;width:60%;margin-right:5%;">
                                                <input type="hidden" name="t" id="t" value="{$Request.param.t}">
                                                <input type="text" name="order_sn" class="form-control" placeholder="请输入订单编号" value="{$Request.param.order_sn}" style="float:right;width:100%;">
                                            </div>
                                            <button type="submit"  class="btn btn-primary" style="float:right;">搜索</button>
                                         </div>
                                    </form>
                                </div>
                                
                            </div>
                            
                            <div class="liebiao">
                                <ul>
                                    <volist name="orderList" id="vo">
                                    <li>
                                        <div class="hang">
                                            <div class="l">订单编号</div>
                                            <div class="r1">{$vo.order_sn}</div>
                                        </div>
                                        <div class="panel">
                                        <div class="hang">
                                            <div class="l">顾客信息</div>
                                            <div class="r1">{$vo.consignee} : <if condition="$vo.mobile">{$vo.mobile}</if></div>
                                        </div>
                                        <div class="hang">
                                            <div class="l">商品总价</div>
                                            <div class="r2">{$vo.goods_price}</div>
                                            <div class="l">增送米豆</div>
                                            <div class="r2">{$vo.back_midou}</div>
                                        </div>
                                        <div class="hang">
                                            <div class="l">实体店</div>
                                            <div class="r1">{$vo.store_id|shitis}</div>
                                        </div>
                                        <div class="hang">
                                            <div class="l">支付状态</div>
                                            <div class="r2">{$vo.pay_status|pay_status}</div>
                                            <div class="l">支付方式</div>
                                            <div class="r2">{$vo.pay_name|default='其他方式'}</div>
                                        </div>
                                        <div class="hang">
                                            <div class="l">支付时间</div>
                                            <div class="r1"><if condition="$vo.pay_time">{$vo.pay_time|date='Y-m-d H:i',###}</if></div>
                                        </div>
                                        <div class="hang">
                                            <div class="l">下单时间</div>
                                            <div class="r1">{$vo.add_time|date='Y-m-d H:i',###}</div>
                                        </div>
                                        </div>
                                        <div class="flip">>>更多信息（查看/收起）</div>
                                    </li>
                                   </volist>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="data-table_paginate">
                                    <ul class="pagination">
                                       {$pager->show()}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- // END drawer-layout__content -->

       

    </div>
    <!-- // END drawer-layout -->


   
    <style type="text/css">
        .panel{display: none;}
        .flip{line-height:2rem;text-align:center;color:#3783b5;}
    </style>
    <script> 
        $(document).ready(function(){
            $(".flip").click(function(){
                $(this).prev($(".panel")).slideToggle("slow");
            });
        });
    </script>

</body>
<script src="__PUBLIC__/companymobile/js/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/companymobile/js/datepicker.js"></script>
</html>