<include file="public/TK_top" />
<script src="__PUBLIC__/js/global.js"></script>
<form action="" method="post" id="myfsd" enctype="multipart/form-data" onSubmit="return submitverify()">
<div class="e-zil">
	<ul>
		<li>
			<div class="bt fl">手机号码</div>
			<div class="nei2 fl">
				<input type="text" class="text" name="phone" id="phone" value="{$staff_info.phone}" onBlur="checkMobilePhone($(this).val());" placeholder="输入您的手机号" />
			</div>
		</li>
		<li>
			<div class="bt fl">
				短信验证码
		    </div>
			<div class="nei fl">
				<div class="zhmm">
		            <input type="tel" name="mobile_code" id="mobile_code" class="c_code_msg2" placeholder="6位验证码">
		            <div class="fsyz"  rel="mobile" onClick="sendcode(this)">发送验证码</div>
		        </div>
			</div>
		</li>
	</ul>
</div>
<div class="e-wtx">
	温馨提示：手机号码绑定，绑定后便可通过手机号登录，可换绑
</div>
<div class="e-zil">
	<ul>
		<li>
			<div class="bt fl">真实姓名</div>
			<div class="nei2 fl">
				<input type="text" class="text" name="real_name" id="real_name" value="{$staff_info.real_name}" placeholder="填写您的真实姓名" />
			</div>
		</li>
		<li>
			<div class="bt fl">
				身份证号
		    </div>
			<div class="nei2 fl">
				<input type="text" class="text" id="id_code" name="id_code" value="{$staff_info.id_code}" placeholder="填写您的身份证号" />
			</div>
		</li>
		<!--<li>
			<div class="bt fl">
				详细地址
		    </div>
			<div class="nei2 fl">
				<input type="text" class="text" id="address" name="address" value="{$staff_info.address}"  placeholder="省-市-县-区域-街道" />
			</div>
		</li>-->
		<li>
			<div class="bt fl">身份证正面</div>
			<div class="nei fl">
				 <div class="line">
			    	<span class="span">
			        	<input name="" type="text" id="viewfile1" onmouseout="document.getElementById('code_img').style.display='none';" class="inputstyle" />
			        </span>
			        <label for="code_img" onmouseover="document.getElementById('code_img').style.display='block';" class="file1">上传照片</label>
			        <input type="file" onchange="document.getElementById('viewfile1').value=this.value;this.style.display='none';" class="file" id="code_img" name="code_img" />
			    </div>
			</div>
		</li>
		<li>
			<div class="bt fl">身份证反面</div>
			<div class="nei fl">
				 <div class="line">
			    	<span class="span">
			        	<input name="" type="text" id="viewfile2" onmouseout="document.getElementById('upload').style.display='none';" class="inputstyle" />
			        </span>
			        <label for="code_img2" onmouseover="document.getElementById('code_img2').style.display='block';" class="file1">上传照片</label>
			        <input type="file" onchange="document.getElementById('viewfile2').value=this.value;this.style.display='none';" class="file" id="code_img2" name="code_img2" />
			    </div>
			</div>
		</li>
		<li>
			<div class="bt fl">更换头像</div>
			<div class="nei fl">
				 <div class="line">
			    	<span class="span">
			        	<input name="" type="text" id="viewfile" onmouseout="document.getElementById('upload').style.display='none';" class="inputstyle" />
			        </span>
			        <label for="unload" onmouseover="document.getElementById('upload').style.display='block';" class="file1">上传图片</label>
			        <input type="file" onchange="document.getElementById('viewfile').value=this.value;this.style.display='none';" class="file" id="upload" name="head_pic" />
			    </div>
			</div>
		</li>
	</ul>
</div>
<div class="e-wtx">
	温馨提示：个人头像，真实姓名、身份证号、身份证照片填写提交之后不允许修改，请填写真实信息；
</div>
<input type="submit" class="e-sub" value="确认提交资料" />
</form>
<script>
	//手机验证
    function checkMobilePhone(mobile){
		
        if(mobile == ''){
            showErrorMsg('请输入您的手机号');
            return false;
        }else if(checkMobile(mobile)) {
            $.ajax({
                type: "GET",
                url: "/index.php?m=Staff&c=Api&a=issetMobile",//+tab,
//			url:"/index.php/Mobile/User/comment/is_ajax/1/p/"+page,//+tab,
                data: {phone: mobile},// 你的formid 搜索表单 序列化提交
                success: function (r) {
                    if (r == 0) {
                        return true;
                    } else {
                        $('#fcode').attr('id','fetchcode');
                        showErrorMsg('手机号已存在！');
                        return false;
                    }
                }
            });
        }else{
            showErrorMsg('手机号码格式不正确！');
            return false;
        }
    }

    //发送短信验证码
    function sendcode(obj){
        var tel = $.trim($('#phone').val());
        if(tel == ''){
            showErrorMsg('请输入您的号码！');
            return false;
        }
        $.ajax({
//            url:'/index.php?m=Mobile&c=User&a=send_validate_code&t='+Math.random(), //原获取短信验证码方法
            url : "/index.php?m=Home&c=Api&a=send_validate_code&scene=6&type=mobile&send="+tel,
            type:'post',
            dataType:'json',
            data:{send:tel},
            success:function(res){
                if(res.status==1){
                    //成功
                    showErrorMsg(res.msg);
                    countdown(obj);
                }else{
                    //失败
                    showErrorMsg(res.msg);
                    $(obj).text('请刷新再试！');
                    $(obj).attr('id','fetchcode');
                }
            }
        })
    }

    function countdown(obj){
        var obj = $(obj);
        var s = {$tpshop_config['sms_sms_time_out']};
        //改变按钮状态
        obj.unbind('click');
        //添加样式
        obj.attr('id','fetchcode');
        callback();
        //循环定时器
        var T = window.setInterval(callback,1000);
        function callback()
        {
            if(s <= 0){
                //移除定时器
                window.clearInterval(T);
                obj.bind('click',sendcode)
                obj.removeAttr('id','fetchcode');
                obj.text('获取验证码');
            }else{
                obj.text(--s + '秒后再获取');
            }
        }
    }

    //提交前验证表单
    function submitverify(){
        var tel = $('#phone').val();
        if(tel == ''){
            showErrorMsg('请输入您的手机号！');
            return false;
        }
        if($('#mobile_code').val() == ''){
            showErrorMsg('手机验证码不能空！');
            return false;
        }
		var id_code = $("#id_code").val();
		if(id_code == ''){
			showErrorMsg('身份证号码不能为空！');
            return false;	
		}
		if(id_code.length != 18){
			showErrorMsg('身份证号码有误，请重新填写！');
            return false;		
		}
		if($("#code_img").val() == ''){
			showErrorMsg('请上传身份证正面照！');
            return false;	
		}
		if($("#code_img2").val() == ''){
			showErrorMsg('请上传身份证反面照！');
            return false;	
		}
		
		layer.open({type: 2});
        return true;
    }
   

</script>
                       
</body>
</html>