<include file="public/layout" />
<script type="text/javascript" src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>

<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>结算申请</h3>
                <h5>商城实物商品交易订单查询及管理</h5>
            </div>
        </div>
    </div>
  <!-- 操作说明 -->
  <div id="explanation" class="explanation" style=" width: 99%; height: 100%;">
      <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
          <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
          <span title="收起提示" id="explanationZoom" style="display: block;"></span>
      </div>
      <ul>
          <li>消费者确认收货后，可随时发起提现，提现金额请与产品审核人员沟通协商提现金额。</li>
      </ul>
  </div>
  <div class="flexigrid">
      <div class="mDiv">
          <div class="ftitle">
              <h3>订单列表</h3>
              <h5>(共{$page->totalRows}条记录)</h5>
          </div>
          <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
	        <form class="navbar-form form-inline"  method="post" action=""  name="search-form2" id="search-form2">  
	  		      <input type="hidden" name="order_by" value="order_id">
              <input type="hidden" name="sort" value="desc">
              <input type="hidden" name="user_id" value="{$Request.param.user_id}">
              <input type="hidden" name="order_ids" value="">
              <!--用于查看结算统计 包含了哪些订单-->
              <input type="hidden" value="{$_GET['order_statis_id']}" name="order_statis_id" />                     
              <div class="sDiv">
                  <div class="sDiv2">
                  	  <input type="text" size="30" id="add_time_begin" name="add_time_begin" value="" class="qsbox" autocomplete="off" placeholder="申请开始时间">
                  </div>
                  <div class="sDiv2">
                  	  <input type="text" size="30" id="add_time_end" name="add_time_end" value="" class="qsbox" autocomplete="off" placeholder="申请结束时间">
                  </div>
                  <div class="sDiv2">	 
        	            <select name="status" class="select sDiv3" style="margin-right:5px;margin-left:5px">
                          <option value="-1">结算状态</option>
                          <option value="0">未结算</option>
        			            <option value="1">申请结算</option>
                          <option value="2">已结算</option>
                      </select>
                  </div>
                  <div class="sDiv2">	                
                      <select  name="keytype" class="select">
                          <option value="order_sn">订单编号</option>        
                      </select>
                  </div>
                  <div class="sDiv2">	 
                      <input type="text" size="30" name="keywords" class="qsbox" placeholder="搜索相关数据...">
                  </div>
                  <div class="sDiv2">	 
                      <input type="button" onClick="ajax_get_table('search-form2',1)"  class="btn" value="搜索">
                  </div>
              </div>
          </form>
      </div>
      <div class="hDiv">
          <div class="hDivBox" id="ajax_return">
              <table cellspacing="0" cellpadding="0">
                  <thead>
          	        	<tr>
          	              <th axis="col0">
          	                <div style="width: 24px;"><i class="ico-check"></i></div>
          	              </th>
          	              <th align="left" abbr="order_sn" axis="col3" class="">
          	                <div style="text-align: left; width: 240px;" class="">订单编号</div>
          	              </th>
          	              <th align="center" abbr="article_show" axis="col5" class="">
          	                <div style="text-align: center; width: 60px;" class="">成本金额</div>
          	              </th>
          	              <th align="center" abbr="article_time" axis="col6" class="">
          	                <div style="text-align: center; width: 60px;" class="">结算状态</div>
          	              </th>
          	              <th align="center" abbr="article_time" axis="col6" class="">
          	                <div style="text-align: center; width: 200px;" class="">申请时间</div>
          	              </th>
                          <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">结算时间</div>
                          </th>
                           <td style="width: 100%;">
                              <div></div>
                            </td>
          	          </tr>
	                </thead>
              </table>
          </div>
      </div>
      <div class="tDiv">
          <div class="tDiv2">
          </div>
          <div style="clear:both"></div>
      </div>
      <div class="bDiv" style="height: auto;">
          <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
        
          </div>
          <div class="iDiv" style="display: none;"></div>
      </div>
      <!--分页位置--> 
   	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){	
     	  $('#add_time_begin').layDate(); 
     	  $('#add_time_end').layDate();
     	
		    // 点击刷新数据
    		$('.fa-refresh').click(function(){
    			  location.href = location.href;
    		});
		
		    ajax_get_table('search-form2',1);
		
    		$('.ico-check ' , '.hDivBox').click(function(){
    			  $('tr' ,'.hDivBox').toggleClass('trSelected' , function(index,currentclass){
      	    		var hasClass = $(this).hasClass('trSelected');
      	    		$('tr' , '#flexigrid').each(function(){
        	    			if(hasClass){
        	    				  $(this).addClass('trSelected');
        	    			}else{
        	    				  $(this).removeClass('trSelected');
        	    			}
      	    		});  
    	    	});
    		});
	  });
    
    
  	//ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"/index.php/Supplier/settlementRed/ajaxsettlement/p/"+page,//+tab,
            data : $('#'+tab).serialize(),// 你的formid
            success: function(data){
                $("#flexigrid").html('');
                $("#flexigrid").append(data);
                
            	  // 表格行点击选中切换
        	      $('#flexigrid > table>tbody >tr').click(function(){
        		        $(this).toggleClass('trSelected');
        		    });
            }
        });
    }
	
    // 点击排序
    function sort(field){
        $("input[name='order_by']").val(field);
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        ajax_get_table('search-form2',cur_page);
    }
	
</script>
</body>
</html>